################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Alexander/CircuitCalculator/Model/obj
/Azizkhan/Circuit
/Mazurenko_/Mazurenko_/obj
/Nachyn
/Viktoria/ImpedanceCalculator/ImpedanceModel/obj
/МЕХ/Circuit
